.tag {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 4px;
  background: rgba(255, 255, 255, .05);
  font-size: .78rem;
  border: 1px solid rgba(255, 255, 255, .07);
  font-weight: 500;
  font-family: 'JetBrains Mono', monospace;
  white-space: nowrap;
}
