.badge {
  display: inline-block;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: .7rem;
  font-weight: 500;
  white-space: nowrap;
}

.prod {
  background: rgba(34, 197, 94, .1);
  color: var(--green);
}

.staging {
  background: rgba(234, 179, 8, .1);
  color: var(--neon);
}

.preview {
  background: rgba(139, 92, 246, .1);
  color: var(--purple);
}
